/* HELPERS.CSS */

.spacer_100_100 {
    width: 100%;
    height: 100vh;
}
.spacer_100_100:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}
.spacer_100_50 {
    width: 100%;
    height: 50vh;
}
.spacer_100_50:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}